@media screen and (max-width: 1200px){
  .mob-sec-img{
    max-width: 97%;
  }
}
@media screen and (max-width: 1100px) {
  .first-sep-line{
    font: 18px NotoSans-Regular, sans-serif;
  }
  .ls-img {
    right: 0px;
    width: 99%;
  }
}
@media screen and (max-width: 991px) {
  .first-sep-line{
    font: 13px NotoSans-Regular, sans-serif;
  }
  .first-sep-link{
    font: 10px NotoSans-Bold, sans-serif;
  }
  .first-bl-title {
    font: 26px Montserrat, sans-serif;
  }
  .first-bl-text {
    font: 25px NotoSans-Bold, sans-serif;
    line-height: 38px;
  }
  .mob-br{
    display: none;
  }
  .first-bl-grey-text {
    font: 19px NotoSans-Bold, sans-serif;
  }
  .cont-for-back {
    margin-top: 50px;
    background: url(../images/mobile-frst-back.png);
    background-repeat: no-repeat;
    -webkit-background-size: auto auto;
    background-size: auto;
    background-position: 100% bottom;
  }
  .first-bl-row{
    background: none;
  }
  .cont-height {
    margin: 42px 0 37px;
    margin-left: 34%;
  }
  .sep-line-img{
    display: none;
  }
  .separate-text{
    font: 29px NotoSans-Bold, sans-serif;
  }
  .res-left {
    width: 100%;
  }
  .res-right{
    width: 100%;
  }
  .res-after {
    position: absolute;
    left: 175px;
    top: 55px;
  }
  .res-bl-mar {
    margin: 30px 0 50px;
  }
  .result-img{
    display: flex;
    align-items: center;
  }
  .mobile-optional-content{
    margin-left: 20%;
  }
  .hide-mob{
    display: none;
  }
  .res-sub-text {
    margin-top: 50px;
  }
  .counter-container{
    width: 49%;
    margin-left: 15%;
  }
  .res-sub-img{
    max-width: 35%;
    left: -87px;
    top: -38px;
  }
  .counter-container {
    margin-top: 40px;
  }
  .res-bl-mar{
    background: none;
  }
  .mark-sec{
    background-image: url("../images/mark-mob.png");
    background-repeat: no-repeat;
    background-position: 100% 0%;
  }
  .counter-text {
    font: 14px NotoSans-Bold, sans-serif;
  }
  .res-sub-text{
    padding-left: 0;
  }
  .separate-text {
    font: 23px NotoSans-Bold, sans-serif;
  }
  .last-part{
    font: 17px NotoSans-Regular, sans-serif;
    margin-top: 15px;
  }
  .last-btn {
    margin: 50px 0 50px;
  }
  .sec-bl-title {
    font: 27px Montserrat-Bold, sans-serif;
    margin: 14px 0 60px;
  }
  .maska {
    max-width: 40%;
  }
  .comp-list {
    font: 17px NotoSans-Regular, sans-serif;
    margin: 20px 0;
  }
  .comp-main-img img{
    max-width: 100%;
  }
  .ingr-item img{
    max-width: 50%;
  }
  .comp-pos-1 {
    left: -64%;
    top: 14%;
    text-align: center;
  }
  .comp-pos-2 {
    left: 15%;
    top: 30%;
    text-align: center;
  }
  .comp-pos-3 {
    position: absolute;
    left: 5%;
    top: 60%;
    text-align: center;
  }
  .comp-pos-4 {
    position: absolute;
    right: 69%;
    bottom: -81px;
    text-align: center;
  }
  .ingr-item p {
    font: 11px NotoSans-Bold, sans-serif;
  }
  .ingr-item {
    width: 219px;
    height: 212px;
  }
  .components-title {
    margin-top: 40px;
    margin-left: 1px;
  }
  }
@media screen and (max-width: 767px){
  .first-sep-line{
    display: none;
  }
  .first-sep-link {
    font: 21px NotoSans-Bold, sans-serif;
    padding: 10px 30px;
  }
  .banner-align{
    justify-content: center;
  }
  .cont-height{
    margin-left: 0;
  }
  .first-bl-text{
    font: 19px Montserrat, sans-serif;
    line-height: 25px;
    font-weight: bold;
  }
  .first-bl-grey-text {
    font: 14px NotoSans-Bold, sans-serif;
  }
  .first-bl-title{
    margin-bottom: 5px;
  }
  .mob-btn-pos{
    justify-content: center;
  }
  .efsa-link-mob a{
    font: 14px NotoSans-Bold, sans-serif;
    line-height: 19px;
    text-transform: uppercase;
    color: $blue;
  }
  .separate-text {
    font: 26px NotoSans-Bold, sans-serif;
  }
  .mobile-optional-content {
    margin-left: 14%;
  }
  .res-left{
    padding: 0px 26px;
  }
  .res-right{
    padding: 0px 26px;
  }
  .mark-cus-img{
    max-width: 40%;
  }
  .res-after{
    position: absolute;
    left: 135px;
    top: 45px;
    max-width: 26%;
  }
  .counter-container {
    width: 73%;
    margin-left: 19%;
  }
  .res-right .counter-container .res-sub-img {
    max-width: 35%;
    left: -81px;
    top: -47px;
  }
  .separate-text {
    font: 23px NotoSans-Bold, sans-serif;
  }
  .ls-img {
    right: 0px;
    width: 50%;
    position: relative;
  }
  .comp-list {
    font: 14px NotoSans-Regular, sans-serif;
  }
  .sec-bl-title {
    font: 24px Montserrat-Bold, sans-serif;
  }
  .comp-main-img{
    height: 500px;
  }
  .cont-mob-img{
    height: 345px;
  }
  .cont-mob-img img{
    position: absolute;
    left: -10%;
  }
  .comp-pos-1 {
    left: -113%;
    top: 17%;
  }
  .comp-pos-2 {
    left: -25%;
    top: 30%;
  }
  .comp-pos-3 {
    position: absolute;
    left: -24%;
    top: 60%;
  }
  .comp-pos-4 {
    position: absolute;
    right: 105%;
    bottom: -81px;
  }
  .sss{
    display: none;
  }
}
@media screen and (max-width: 575px){
  .separate-text {
    font: 18px NotoSans-Bold, sans-serif;
  }
  .result-text{
    padding-right: 0;
  }
  .result-list li {
    width: 75px;
  }
  .res-right img{
    max-width: 97%;
  }
  .result-name{
    font: 14px NotoSans-Bold, sans-serif;
  }
  .result-age {
    font: 12px NotoSans-Regular;
  }
  .mark-sec {
    background-position: 95% -16%;
  }
}
@media screen and (max-width: 555px){
  .res-after {
    left: 90px;
    top: 62px;
  }
}
@media screen and (max-width: 554px){
  .res-after {
    left: 109px;
    top: 41px;
  }
}
@media screen and (max-width: 500px) {
  .res-after {
    left: 97px;
    top: 40px;
  }
}
@media screen and (max-width: 450px){
  .res-after {
    left: 98px;
    top: 36px;
  }
}
@media screen and (max-width: 414px){
  .first-sep-link {
    font: 18px NotoSans-Bold, sans-serif;
    padding: 10px 30px;
  }
  .sec-bl-title {
    font: 22px Montserrat-Bold, sans-serif;
    line-height: 29px;
  }
  .second-block-margin {
    margin: 30px 0 50px;
  }
  .res-right img{
    max-width: 100%;
  }
  .mark-cus-img {
    max-width: 35%;
  }
  .res-after {
    position: absolute;
    left: 81px;
    top: 32px;
    max-width: 22%;
  }
  .result-list li .res-li-cus {
    font: 18px NotoSans-Bold, sans-serif;
  }
  .counter-container img{
    max-width: 42%;
  }
  .res-sub-img{
    left: -85px;
  }
  .counter-container {
    width: 77%;
    margin-left: 23%;
  }
  .counter-container .clock{
    max-width: 35%;
    top: -5px;
  }
  .counter-text {
    font: 13px NotoSans-Bold, sans-serif;
    padding-right: 8px;
  }
  .counter-number{
    font: 64px NotoSans-Bold, sans-serif;
  }
  .counter-container {
    padding: 0px 28px;
  }
  .last-part {
    font: 12px NotoSans-Regular, sans-serif;
    margin-top: 15px;
  }
  .last-title {
    font: 14px NotoSans-Bold, sans-serif;
    line-height: 22px;
  }
  .last-text {
    font: 12px NotoSans-Regular, sans-serif;
    line-height: 19px;
    
  }
  .comp-main-img{
    height: 520px;
  }
  .ingr-item {
    width: 185px;
  }
  .ingr-item p {
    font: 10px NotoSans-Bold, sans-serif;
  }
  .comp-pos-2 {
    left: -35%;
    top: 30%;
  }
  .comp-pos-1 {
    left: -125%;
    top: 17%;
  }
  .comp-pos-3 {
    position: absolute;
    left: -39%;
    top: 60%;
  }
  .comp-pos-4 {
    position: absolute;
    right: 94%;
    bottom: -81px;
  }
  .sec-bl-title{
    text-align: center;
    padding: 0px 20px;
  }
  .maska{
    display: none;
  }
  .mobile-comp-back{
    background: url("../images/back-mob-comp.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
}

@media screen and (max-width: 413px) {
  .comp-main-img img {
    max-width: 70%;
    top: 10%;
  }
  .comp-pos-1 {
    left: -143%;
    top: 17%;
  }
  .comp-pos-2 {
    left: -47%;
    top: 30%;
  }
  .comp-pos-3 {
    position: absolute;
    left: -64%;
    top: 56%;
  }
  .comp-pos-4 {
    position: absolute;
    right: 101%;
    bottom: -76px;
  }
}
@media screen and (max-width: 384px){
  .separate-text {
    font: 14px NotoSans-Bold, sans-serif;
  }
}
@media screen and (max-width: 375px){
  .first-bl-title {
    font: 24px Montserrat, sans-serif;
  }
  .counter-container .clock{
    max-width: 54%;
    top: -5px;
  }
  .mark-sec {
    background-position: 100% -12%;
    background-size: 100%;
  }
}
@media screen and (max-width: 374px){
  .comp-pos-1 {
    left: -184%;
    top: 17%;
  }
  .comp-pos-2 {
    left: -74%;
    top: 30%;
  }
  .comp-pos-3 {
    position: absolute;
    left: -88%;
    top: 56%;
  }
  .comp-pos-4 {
    position: absolute;
    right: 117%;
    bottom: -74px;
  }
  .cont-mob-img img{
    max-width: 59%;
    top: 22%;
  }
}
@media screen and (max-width: 360px){
  .added-img{
    max-width: 58%;
  }
  .efsa-link-mob a {
    font: 12px NotoSans-Bold, sans-serif;
  }
  .adv-items p {
    font: 12px NotoSans-Regular, sans-serif;
  }
  .adv-items {
    margin: 25px 0;
  }
  .sec-bl-title {
    font: 18px Montserrat-Bold, sans-serif;
    line-height: 29px;
  }
}
@media screen and (max-width: 359px){
  .first-sep-link {
    font: 18px NotoSans-Bold, sans-serif;
    padding: 10px 10px;
  }
  .first-bl-title {
    font: 21px Montserrat, sans-serif;
  }
  .added-img {
    max-width: 54%;
  }
  .res-after {
    left: 61px;
  }
  .result-list li .res-li-cus {
    font: 14px NotoSans-Bold, sans-serif;
  }
  .result-age {
    font: 10px NotoSans-Regular;
  }
  .res-sub-img {
    left: -71px;
    top: -26px;
  }
  .counter-text {
    font: 10px NotoSans-Bold, sans-serif;
    padding-right: 1px;
  }
  .counter-container .clock {
    max-width: 73%;
    top: -5px;
  }
  .mark-sec {
    background-position: 95% -4%;
    background-size: 100%;
  }
}