.advantage-btn{
  text-align: center;
  border: 3px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 40.5px;
  padding: 14px 6px
}
.new-btn-style {
  background: #f58605;
  padding: 10px 25px;
  border-radius: 27px;
  font: 18px NotoSans-Bold,sans-serif;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
.advantage-btn:hover{
  transition: 0.3s ease-in;
  border-color: #f58605;
  cursor: pointer;
}
.new-btn-style:hover{
  color: #fff;
  text-decoration: none;
}
.first-bl-title{
  font: 42px Montserrat, sans-serif;
  font-weight: 900;
  line-height: 51px;
  color: $orange;
  margin-bottom: 25px;
  span{
    color: #F58605;
  }
  .grey-mark{
    color: $grey;
  }
}
.first-bl-small{
  font: 10px NotoSans-Regular, sans-serif;
  line-height: 14px;
  color: $grey;
}
.first-bl-text{
  font: 36px NotoSans-Bold, sans-serif;
  line-height: 49px;
  text-transform: uppercase;
  color: $blue;
  margin: 25px 0;
}
.first-bl-grey-text{
  font: 24px NotoSans-Bold, sans-serif;
  line-height: 33px;
  color: $grey;
  margin: 25px 0;
}
.first-bl-row{
  margin-top: 50px;
  background: url("../images/first-bl-back.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 46% bottom;
}
.cont-height{
  margin: 80px 0 50px;
  margin-left: 34%;
}
.separate-line{
  width: 100%;
  height: 75px;
  background: #3DAABC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.sep-line-img{
  position: absolute;
  top: -107px;
  left: -25px;
}
.adv-items{
  margin: 50px 0;
}
.adv-items h4{
  font: 18px NotoSans-Bold, sans-serif;
  line-height: 25px;
  text-transform: uppercase;
  color: $blue;
}
.adv-items p{
  font: 14px NotoSans-Regular, sans-serif;
  line-height: 19px;
  color: #4D5151;
}
.sec-bl-title{
  font: 33px Montserrat-Bold, sans-serif;
  font-weight: 900;
  line-height: 44px;
  color: #F58605;
}
.second-block-margin{
  margin: 70px 0 50px;
}
.separate-text{
  font: 36px NotoSans-Bold, sans-serif;
  line-height: 170.66%;
  text-align: center;
  text-transform: uppercase;
  color: #FEFEFE;
}
.result-name{
  font: 20px NotoSans-Bold, sans-serif;
  line-height: 27px;
  color: #000;
}
.result-age{
  font: 14px NotoSans-Regular;
  line-height: 19px;
  color: $grey;
}
.result-text{
  font: 14px NotoSans-Regular, sans-serif;
  line-height: 19px;
  color: $grey;
  padding-right: 55px;
}
.result-list{
  list-style: none;
  li{
    text-align: center;
    width: 100px;
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 6px;
    .res-li-cus{
      font: 30px NotoSans-Bold, sans-serif;
      line-height: 41px;
      text-align: center;
      color: $blue;
    }
  }
}
.none-border{
  border-right: 1px solid #c4c4c4;
}
.res-after{
  position: absolute;
  right: 18px;
  top: 55px;
}
.res-bl-mar{
  margin: 70px 0 50px;
  background: url("../images/res-back.png");
  background-repeat: no-repeat;
  background-position: 104% -5%;
  background-size: auto;
}
.follow-icon{
  display: inline-block;
  background: url("../images/arr-icon.svg");
  width: 26px;
  height: 10px;
  position: absolute;
}
.res-sub-text{
  font: 14px NotoSans-Regular, sans-serif;
  line-height: 19px;
  //padding-left: 119px;
  color: #000000;
  padding-left: 37px;
  margin-top: 115px;
}
.res-sub-link{
  font: 24px NotoSans-Bold, sans-serif;
  line-height: 33px;
  text-transform: uppercase;
  color: $blue;

}
.counter-container{
  background: #FFFFFF;
  border: 1px solid #3DAABC;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0px 35px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.counter-text{
  font: 20px NotoSans-Bold, sans-serif;
  line-height: 27px;
  color: $grey;
  padding-right: 19px;
  position: relative;

}
.counter-number{
  font: 72px NotoSans-Bold, sans-serif;
  line-height: 98px;
  text-transform: uppercase;
  color: #F2AF61;
}
.res-sub-img{
  position: absolute;
  left: -150px;
  top: -78px;
}
.clock{
  position: absolute;
  top: -12px;
  right: -4px;
}
.res-left{
  width: 40%;
}
.res-right{
  width: 45%;
}
.components-title{
  margin-left: 55px;
  margin-top: 70px;
  margin-bottom: 30px;
}
.components-title a{
  font: 18px NotoSans-Bold, sans-serif;
  line-height: 25px;
  color: $blue;
}
.ingr-item{
  width: 219px;
  height: 268px;
  z-index: 99;
  p{
    text-align: center;
    font: 14px NotoSans-Bold, sans-serif;
    line-height: 19px;
    text-transform: uppercase;
    color: #4D5151;
  }
}
.comp-pos-1{
  position: absolute;
  left: -47%;
}
.comp-pos-2{
  position: absolute;
  left: 30%;
  top: 21%;
}
.comp-pos-3{
  position: absolute;
  left: 12%;
  top: 56%;
}
.comp-pos-4{
  position: absolute;
  right: 113%;
  bottom: -81px;
}
.comp-list{
  font: 24px NotoSans-Regular, sans-serif;
  line-height: 33px;
  text-transform: uppercase;
  color: #000;
  margin: 25px 0;
}
.maska{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
}
.ben-bl-sec{
  margin: 100px 0 70px;
}
.last-item{
  margin: 40px 0;
}
.last-part{
  font: 18px NotoSans-Regular, sans-serif;
  line-height: 170.8%;
  color: #000;
}
.last-title{
  font: 17px NotoSans-Bold, sans-serif;
  line-height: 25px;
  text-transform: uppercase;
  color: $orange;
}
.last-text{
  font: 14px NotoSans-Regular, sans-serif;
  line-height: 19px;
  color: #4D5151;
}
.last-btn{
  margin: 100px 0 70px;
}
.ls-img{
  position: absolute;
  bottom: 0;
  right: -45px;
}
.first-sep-line{
  font: 20px NotoSans-Regular, sans-serif;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.first-sep-link{
  background: #EEF306;
  border-radius: 27.5px;
  padding: 10px;
  font: 18px NotoSans-Bold, sans-serif;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #EF6254;
}
.discount-close{
  position: absolute;
  right: 30px;
  top: 23px;
}
.sss{
  display: flex;
}